#wrapper{
	width:900px;
}

#corner{
	width:270px;
	float:left;
}

#nav{
	width:270px;
	text-align:right;
}

#maincontent{
	width:630px;
	float:left;
}

img{
	border-style:solid;
	border-color: #5E0501;
	border-width:10px;
}

h1,h2,h3,h4{
	font-variant:small-caps;
	font-family: Trebuchet, Arial, sans-serif;
	color: #5E0501;
}

#text h4{
	margin-bottom:-8px;
}

#header{
	padding: 0px 0px 10px 30px;
	width:630px;
	border-color:#5E0501;
	border-style:solid;
	border-width: 0px 0px 10px 0px;
}

#header p{
	font-family:Trebuchet, Arial, sans-serif;
	color: #5E0501;
	margin-top:-15px;
	font-weight:bold;
}

#text{
	margin-top:20px;
	padding-left:30px;
}

a,a:visited{
	color: #5E0501;
	text-decoration:none;	
}
a:hover{
	text-decoration:underline;
}

#text a, #text a:hover, #text a:visited{
	color: #A80E16;
	color: #5E0501;
	text-decoration:underline;
}

#text ul{
	margin-top:-12px;
}

.text {
  display: inline-block;
  vertical-align: top;
}
