body {
  background: repeating-linear-gradient(#373C6E 0px, #323C5A 5px, #373C6E 10px);
  color: #C8DCFF;
  font-family: courier, courier-new, monospace;
}

h1, h2 {
  text-shadow: 0px 0px 0.1em #C8DCFF;
  text-align: center;
}

h1 {
  font-size: 300%;
  padding-bottom: 0.2em;
}

h2 em {
  font-size: 75%;
  color: #7AABFF;
  text-shadow: 0px 0px 0.1em #7AABFF;
}

p {
  text-align: center;
  text-shadow: 0px 0px 0.5em #C8DCFF;
}

button {
  margin: auto;
  margin-top: 30px;
  display: block;
  border-radius: 5%;
  background-color: #012532;
  color: #82D2F0;
  font-family: courier, courier-new, monospace;
  font-size: 100%;
  text-shadow: 0px 0px 0.5em #82D2F0;
  padding: 10px 10px;
  border-color: #C8D0DE;
  box-shadow: 0px 0px 0.2em #012532;
}

a {
  color: #7AABFF;
  text-shadow: 0px 0px 0.5em #7AABFF;
  text-decoration: none;
}

hr {
  margin-top: 80px;
}
